<!DOCTYPE html>
<html>
<head>
<style>
div {
  Height: 6000px;
  Width: 200px;
  Float: Left;
  Padding: 5px;
  Line-Height: 30px;
}
p {
  Background-color: White;
  Text-color: DodgerBlue;
  text-align: center;
}
</style>
</head>
<body>

<p>Assignment 1.3</p>
<p>Using CSS</p>

<body>
<html>
