<!DOCTYPE html>
  <!-- Assignment 12.1 Chance Matson -->
<html> 
<head>

<title>Assignment 12.1</title>

<h1>Incorporate Sound</h1>

<style>
Img {
  Margin-right: 200px;
}
div {
  Height: 6000px;
  Width: 200px;
  Float: Left;
  Padding: 5px;
  Line-Height: 30px;
  Margin-right: 200px;
}
p {
  Background-color: White;
  Text-color: Garnet Red;
  text-align: center;
}
</style>
h1 {
  text-align: Center;
}
</head>
<body>

<figure>
  <figcaption>The Cool Sound:</figcaption>
  <audio controls src="/media/cc0-audio/Wilheim.mp3"></audio>
  <a href="/media/cc0-audio/Wilheim.mp3"> Download audio </a>
</figure>

{
// main function
{
// of the original str
    String rev = "";

// Initializing a new boolean variable for the
// answer
    boolean ans = false;

for (int i = str.length() - 1; i >= 0; i--) {
rev = rev + str.charAt(i);
}

// Checking if both the strings are equal
    if (str.equals(rev)) {
    ans = true;
}
        return ans;
    }
    public static void main(String[] args)
    {
        // Input string
        String str = "UAT";

    alert(img src="Mogged.jpeg") //when clicked the meme image appears
      })
        
// Convert the string to lowercase
        str = str.toLowerCase();
        boolean A = isPalindrome(str);
        System.out.println(A);
 }
<html>
