<!DOCTYPE html>
<html>
<head>
<style>
Img {
  Margin-right: 200px;
}
div {
  Height: 6000px;
  Width: 200px;
  Float: Left;
  Padding: 5px;
  Line-Height: 30px;
  Margin-right: 200px;
}
p {
  Background-color: White;
  Text-color: Garnet Red;
  text-align: center;
}
</style>
h1 {
  text-align: Center;
}
</head>
<body>

<figure>
  <figcaption>The Cool Sound:</figcaption>
  <audio controls src="/media/cc0-audio/Wilheim.mp3"></audio>
  <a href="/media/cc0-audio/Wilheim.mp3"> Download audio </a>
</figure>

<title>Assignment 1.3 CSS</title>
<h1>Using CSS</h1>

<body>
<html>
